header{
    background-color:$header-bg-color;
    color: $header-text-color;
    width: 100%;
    height: $header-height;
    font-size: $header-font-size;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 10px 30px rgb(176, 174, 174);
    div{
        width: 80%;
    }
}